h1{
    color: #444444;
    font-family: monospace;
    font-size: 1.475em
    font-weight: bold;
}

h4{
  font-family: monospace;
}

div{
  padding: 10px;
  text-align: center;
}

nav{
  background-color: #444444;
  padding: 10px;
}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li{
  float: left;
}

nav ul li a{
  color: white;
  margin-right: 20px;
  font-family: monospace;
}
nav ul li a:hover{
  background-color: #FFFFFF;
  color: black;
}
.active {
  background-color: #FFFFFF;
  color: black;
}

table a{
  font-weight: bold;
  font-size: 1.475em
}

p{
  font-family: monospace;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: monospace;
    padding: 10px;
}

th{
  font-size: 1.475em
}

.columnHeading{
  font-weight: bold;
  font-size: 1.475em
}
